<li class="v-list-item" data-model-id="<%- modelId %>">
    <div class="v-list-item-el">
        <div class="Accounts_List_Item_Heading">
            <span class="Accounts_List_Item_AccountType">
                <span class="Accounts_List_Item_AccountType_Inner"><%- airlineName %></span>
            </span>
            <span class="Accounts_List_Item_AvailableBalance"><%- currencyAlias %> <%- fare %></span>
        </div>
        <div class="Accounts_List_Item_Account"><%- route %></div>
    </div>
    <span class="v-list-item-el v-list-item-arrow fa fa-chevron-right"></span>
</li>
