<canvas id="accountChart" class="accountChart"></canvas>
<div id="accountChartInfo" class="accountChartInfo" style="width : 100%">
    <div>
        <ul class="table">
            <li class="tableCell" style="background-color: #a8c839"></li>
            <li class="tableCell">
                <div class="heading">AVAILABLE BALANCE</div>
                <div id="data1" class="value"><%- availableBalance %></div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="table">
            <li class="tableCell" style="background-color: #2da0a4"></li>
            <li class="tableCell">
                <div class="heading">BOOK BALANCE</div>
                <div id="data2" class="value"><%- bookBalance %></div>
            </li>
        </ul>
    </div>
</div>