<div class="Accounts-carousel-item v-carousel-item" data-model-id="<%- modelId %>">
    <div class="Account-AccountType"><span class="previous flaticon1-arrow208"></span><span class="account_type"><%- accounttype %></span><span class="next flaticon1-move12"></span>
    </div>
    <div class="Account-Balance<%- billionaire %>"><span style="font-size: 20px; vertical-align: top; line-height: 34px;"><%- currencyAlias %></span>
        <%- availablebalance %><span style="font-size: 18px;"><%- availablebalanceDecimal %></span>
    </div>
    <div class="Account-Number"><span><%- customerName %>&nbsp;&nbsp;|&nbsp;&nbsp;ACC <%- account %></span>
    </div>
</div>
