<li class="v-list-item" data-id="<%- category.id %>">
    <span class="v-list-item-el-icon" style="font-size: 34px;">
        <span class="fa fa-male"></span>
    </span>
    <span class="v-list-item-el">
        <span style="display: block; padding: 12px 9px 3px 0; font-weight: bold; font-size: 17px;">
            <%- category.name %>
        </span>
        <span style="color: #828282; display: block; padding: 0 9px 12px 0; font-size: 14px;">₦
            <%- price_amount %>
        </span>
    </span>
    <span class="v-list-item-el" style="width: 82px;">
        <div class="v-segmented-control">
            <span class="v-segmented-control-item" data-value="minus" style="font-size: 22px; padding: 0; line-height: 32px; width: 40px;">-</span>
            <span class="v-segmented-control-item" data-value="plus" style="font-size: 22px; padding: 0; line-height: 32px; width: 40px;">+</span>
        </div>
    </span>
    <span class="v-list-item-el Counter" style="width: 70px; text-align: center; color: #009cb5; font-size: 40px;">0</span>
</li>
