<li class="v-list-item">
    <div class="v-list-item-el">
        <div class="Accounts_List_Item_Heading">
            <span class="Accounts_List_Item_AccountType">
                <span class="Accounts_List_Item_AccountType_Inner">
                    <%- category.name %>
                </span>
            </span>
            <span class="Accounts_List_Item_AvailableBalance" style="font-weight: 600;">
                <%- counter %>
            </span>
        </div>
        <div class="Accounts_List_Item_Account">
            ₦
            <%- price_amount %>
        </div>
    </div>
</li>
