<ul class="v-list">
    <li class="v-list-item" data-model-id="<%- id %>">
        <span class="v-list-item-el" style="width: 104px; padding: 8px 0;">
            <img class="" src="<%- Thumbnail %>" style="width: 96px; height: 96px;"/>
        </span>
        <span class="v-list-item-el" style="padding: 8px 0;">
            <div style="font-weight: bold; padding-bottom: 5px;"><%- Date %></div>
            <div><%- Name %></div>
        </span>
    </li>
</ul>

<ul class="v-list">
    <li class="v-list-item">
        <span class="v-list-item-el" style="padding: 8px 0;">
            <div style="font-weight: bold; padding: 5px 0;">Venue</div>
            <div><%- Name %></div>
        </span>
    </li>
    <li class="v-list-item">
        <span class="v-list-item-el" style="padding: 8px 0;">
            <div style="font-weight: bold; padding: 5px 0;">Description</div>
            <div><%= Description %></div>
        </span>
    </li>
</ul>
