<li class="v-list-item" data-model-id="<%- id %>" style="display: block;">
    <div class="Accounts_List_Item_Heading">
        <span class="Accounts_List_Item_AccountType">
            <span class="Accounts_List_Item_AccountType_Inner"><%- Name %></span>
        </span>
        <span class="Accounts_List_Item_AvailableBalance"><%- Amount %><span style="font-size: 10px; vertical-align: top; line-height: 18px;"> ₦</span></span>
    </div>
    <div class="Accounts_List_Item_Account"><%- Narration %></div>
</li>
